body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 320px;
}

.search-box {
    display: flex;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.search-box button {
    padding: 10px;
    border: none;
    background: #ff9800;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.weather-card img {
    width: 80px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.weather-card p {
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.3s;
}
.weather-card p {
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.3s;
}
.forecast {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    gap: 10px;
}

.forecast-card {
    min-width: 100px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.forecast-card img {
    width: 50px;
}