body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: 0.3s;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4facfe;
    color: white;
}

.weather-card img {
    width: 80px;
}

.dark {
    background: #121212;
    color: white;
}

.toggle {
    margin-top: 15px;
    background: #333;
}