body {
margin:0;
font-family: Arial, sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
transition:0.4s;
}

body.light {
background: linear-gradient(135deg,#4facfe,#00f2fe);
color:white;
}

body.dark {
background: linear-gradient(135deg,#141e30,#243b55);
color:white;
}

.container {
background: rgba(255,255,255,0.2);
padding:20px;
border-radius:20px;
text-align:center;
width:320px;
backdrop-filter: blur(10px);
position:relative;
}

.theme-btn {
position:absolute;
top:10px;
right:10px;
border:none;
padding:6px 10px;
border-radius:8px;
cursor:pointer;
}

.weather-card {
margin-top:15px;
}

.forecast {
display:flex;
gap:10px;
margin-top:20px;
overflow-x:auto;
}

.forecast-card {
background: rgba(255,255,255,0.2);
padding:10px;
border-radius:10px;
min-width:70px;
}